html, * {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9ecef;
}

nav, 
.cityInfo {
  background-color: #71A9F7;
  padding: 10px;
  border-radius: 8px;
}

.fiveDay {
  background-color: #2E4052;
  color: #FCFCFC;
  padding: 10px;
  border-radius: 8px;
}